
* {
	margin: 0;
}
html, body {
	height: 100%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #C9BBA5;
	color: #331700;
}

/** currently unused **/
footer {
	background-color: #331700;
	color: #C9BBA5;
	text-align: center;
}

/** header **/

.header {
	/*padding-bottom: 200px;
	padding-top: 200px;*/
	background-color: #331700;
	color: #C9BBA5;
	font-size: 64pt;
	padding: 25px;
/*	background-image: url('../images/fullscene.jpg');
	background-repeat: no-repeat;
	background-size: 100% 400px;*/
}

.header a {
	color: #C9BBA5;
	text-decoration: none;
}

.header strong {
	color: rgb(150, 0, 0);
}

.header > .panel {
	float: right;
	background-color: #331700;
	margin-top: 10px;
}

.header > .panel > p {
	font-size: 12pt;
	font-style: italic;
	text-align: center;
}

.panel button {
	border-radius: 12px;
	background-color: #331700;
    color: #C9BBA5;
    border: 3px solid rgb(150, 0, 0);

    font-size: 16pt;
    padding: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: right;

    transition: all .15s;
    z-index: 10;
}

.panel button:hover {
	background-color: rgb(150, 0, 0);
	color: #C9BBA5;
}

/** navbar **/

ul.nav-bar {
	list-style-type: none;
	padding: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	z-index: 100;

}

.nav-bar li {
	float: left;
	display: block;
	width: 20%;
	font-size: 18pt;
	text-align: center;
	background-color: #331700;
}

.nav-bar a {
	color: #C9BBA5;
	text-decoration: none;
}

.nav-bar a:hover {
	color: rgb(0, 150, 0);
}

.nav-bar.affix {
	top: 0;
}

.dropdown-link {
	color: #C9BBA5;
}

.dropdown-link:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
}

.dropdown-content {
	visibility: hidden;
	position: absolute;
	background-color: #331700;
	width: 20%;
	z-index: 100;

	opacity: 0;
	transition: opacity .35s;
}

.dropdown-content a {
	color: #C9BBA5;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

/** content **/

.content {
	margin-top: 50px;

	margin-left: auto;
	margin-right: auto;
	width: 90%;

	font-size: 14pt;
	line-height: 200%;
}
.content:after {
	content: "";
	display: block;
}

.post figure {
	width: 500px;
	float: left;
	margin: 50px;
}

.post figcaption {
	text-align: center;
	font-size: 12pt;
}

.post img {
	width: 500px;
	height: auto;
}

.post {
	margin-bottom: 100px;
}

.post h2 {
	text-align: center;
	font-size: 24pt;
}

.post h3 {
	text-align: center;
	font-size: 18pt;
}

.post h4 {
	text-align: center;
	font-size: 14pt;
}

/* sidebar */

.nav {
	text-align: center;
}

.nav li > a {
	color: grey;
	background-color: #C9BBA5;
}

.nav li > a:hover {
	color: black;
	background-color: #C9BBA5;
}

.nav .active > a {
	background-color: #C9BBA5;
	color: black;
	font-style: italic;
	font-weight: bold;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

.nav.affix {
	top: 100px;
	right: 270px;
}


/* misc */

hr {
	border: none;
	height: 3px;
	width: 60%;
	color: black;
	background-color: black;

	margin-top: 80px;
	margin-bottom: 80px;
	margin-right: auto;
	margin-left: auto;
}

/* events calender.php */

.calendar-events-list {
	margin-right: auto;
	margin-left: auto;
	width: 1000px;

}

.calendar-event-title {
	text-align: right;
	display: inline-block;
}

.calendar-event-date {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

/* calendar */

.calendar-start {
	display: inline-block;
	width: 40%;
}

.calendar-end {
	float: right;
	display: inline-block;
	width: 40%;
}

.calendar-description {
	width: 80%;
	display: inline-block;
}

.calendar-link {
	display: inline-block;
	margin-right: 30px;
	float: right;
}

/* event */

.event-wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.event-title {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	overflow: hidden;
}

.event-title h3 {
	font-size: 28pt;
	font-weight: bold;
	text-align: left;
	margin-left: 20px;
}

.event-title h4 {
	font-size: 18pt;
	font-weight: bold;
	text-align: right;
	margin-right: 30px;
}

.event-title p {
	font-size: 16pt;
	text-align: left;
	margin-left: 40px;
}

.event-title .checkbox {
	float: left;
	margin-left: 40px;
}

.event-header {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 2px;

	font-size: 24pt;
	text-align: left;
	padding-left: 20px;

	background-color: #eee;
	border: 1px solid #ddd;
}

.event-header:hover {
	cursor: pointer;
	background-color: #ccc;
	border: 1px solid #ccc;
}

.event-section {
	padding-left: 15px;
	text-align: left;
}