
* {
	margin: 0;
}
html, body {
	height: 100%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #C9BBA5;
	color: #331700;
}

/** currently unused **/
footer {
	background-color: #331700;
	color: #C9BBA5;
	text-align: center;
}

/** header **/

.header {
	/*padding-bottom: 200px;
	padding-top: 200px;*/
	background-color: #331700;
	color: #C9BBA5;
	font-size: 64pt;
	padding: 25px;
/*	background-image: url('../images/fullscene.jpg');
	background-repeat: no-repeat;
	background-size: 100% 400px;*/
}

.header strong {
	color: rgb(0, 150, 0);
}

/** navbar **/

ul.nav-bar {
	list-style-type: none;
	padding: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	z-index: 100;
}

.nav-bar li {
	float: left;
	display: block;
	width: calc(100%/4);
	font-size: 14pt;
	text-align: center;
	background-color: #331700;
}

.nav-bar a {
	color: #C9BBA5;
	text-decoration: none;
}

.nav-bar a:hover {
	color: rgb(0, 150, 0);
}

.affix {
	top: 0;
}

.dropdown-link {
	color: #C9BBA5;
}

.dropdown-link:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
}

.dropdown-content {
	visibility: hidden;
	position: absolute;
	background-color: #331700;
	width: calc(100%/4);

	opacity: 0;
	transition: opacity .35s;
}

.dropdown-content a {
	color: #C9BBA5;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

/** content **/

.content {
	margin-top: 50px;

	margin-left: auto;
	margin-right: auto;
	width: 90%;

	font-size: 14pt;
	line-height: 200%;
}
.content:after {
	content: "";
	display: block;
}

.content figure {
	width: 500px;
	float: left;
	margin: 50px;
}

.content figcaption {
	text-align: center;
	font-size: 12pt;
}

.content img {
	width: 500px;
	height: auto;
}

.content h2 {
	text-align: center;
	font-size: 24pt;
}

.content h3 {
	text-align: center;
	font-size: 18pt;
}

.content table {
	border-spacing: 5px;
}

.content table, .content tr, .content td {
	border: 1px solid black;
}

.content tr, .content td {
	padding: 10px;
}

.content th {
	font-weight: bold;
}

/** misc **/

hr {
	border: none;
	height: 3px;
	width: 60%;
	color: black;
	background-color: black;

	margin-top: 80px;
	margin-bottom: 80px;
	margin-right: auto;
	margin-left: auto;
}